body {
    background-color: rgb(210, 236, 210);
    padding: 10px;
    margin: 10px;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(28, 139, 102);
    position: relative;
    height: 100%;
}